<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/inner-strength-fitness-logo-sq.svg" alt="inner stength fitness logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Fitness Tips</p>
			<p>Curated insights on baby boomer fitness. Emailed quarterly.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">ISF</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/services" class="link">Services</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
                                        <li><a href="tel:+1-646-760-9330" class="link">(646) 760-9330</a></li>
					<li><a href="/post/special-offers/" class="link">Latest offer</a></li>
					<li><a href="/contact" class="link">Let's talk!</a></li>
                                        <li><a href="/post/privacy-policy/" class="link">Privacy Policy</a></li>
                                       
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/isf.nyc/" "svg" "icons-facebook") }}
					
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/donfranciscodevillalobos/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#383b75"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "message": "This website uses cookies to ensure you get the best experience on our website. "
  }
})});
</script>
