<head>

	<title>{{ .Title }} - Inner Strength Fitness </title>
	
        <link rel="preload" href="/css/main.css" as="style">
        <link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">
        <meta name="description" content="{{ .Description }}">
	{{ if .IsHome }}
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
	<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "HealthClub",
  "name": "Inner Strength Fitness",
  "url": "https://isfny.com/",
  "logo": "https://res.cloudinary.com/icecloud7/image/upload/q_auto,f_auto/v1562304364/inner-strength-fitness-nyc-logo_c4pfbu.png",
  "image": "https://res.cloudinary.com/icecloud7/image/upload/q_auto,f_auto,e_sharpen/v1562316825/fitness-after-50_j7kfoi.png",
  "description": "Inner Strength Fitness provides smart strength training for baby boomers at 3 private gyms in Manhattan.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "133 E. 58th St",
    "addressLocality": "New York City",
    "addressRegion": "NY",
    "postalCode": "10022",
    "addressCountry": "United States"
  },
  "email": "isf.fov@gmail.com",
	"telePhone": "(646) 760-9330",
	"paymentAccepted": [ "cash", "check", "credit card", "paypal" ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "40.761903",
    "longitude": "-73.968840"
  },
 
   "hasMap": "https://goo.gl/maps/AkzkCa9y2ty3d96x9",
  "openingHours": "Mo, Tu, We, Th, Fr 06:00-20:00",
   "sameAs": "https://www.facebook.com/isf.nyc/",
   "priceRange":"$$$"
}
 </script>

</head>

