<head>

	<title>{{ .Title }} - Inner Strength Fitness </title>
	
<link rel="preload" href="../fonts/nunito-sans-v4-latin-700.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="../fonts/nunito-sans-v4-latin-700.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="../fonts/nunito-sans-v4-latin-regular.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="../fonts/nunito-sans-v4-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/css/main.css" as="style">
        <link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">
        <meta name="description" content="{{ .Description }}">
	{{ if .IsHome }}
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
	<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "HealthClub",
	"name": "Inner Strength Fitness",
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "133 E. 58th Street, Suite 902",
		"addressLocality": "New York",
		"addressRegion": "NY",
		"postalCode": "10022"
	},
	"image": "https://res.cloudinary.com/icecloud7/image/upload/q_auto:eco,f_auto/v1562318211/private-gym-nyc_scg4pb.png",
	"email": "isf.fov@gmail.com",
	"telePhone": "(646) 760-9330",
	"url": "https://isfny.com/",
	"paymentAccepted": [ "cash", "check", "credit card", "paypal" ],
	"openingHours": "Mo,Tu,We,Th 0-0",
	"openingHoursSpecification": [ {
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": [
			"Monday",
			"Tuesday",
			"Wednesday",
			"Thursday"
		],
		"opens": "0",
		"closes": "0"
	} ],
	"geo": {
		"@type": "GeoCoordinates",
		"latitude": "40.761903",
		"longitude": "-73.968840"
	},
	"priceRange":"$$$"

}
</script>

</head>

