
{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description | markdownify }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">
{{ partial "table"

<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">Passport to Optimal Fitness</h2>
		<p class="mw6">We make it easy to make fitness a part of your life. Choose one of our monthly subscription plans to receive expert personal training. Contact us about more details and payment information.</p>

		<div class="flex-ns mhn2-ns mw7">
			
			<div class="w-33-ns ph2"><div class="ph2">

	
	<h3 class="b f5 grey-3 tc lh-title mb3">Monthly</h3>

	
	<p class="primary f1 b tc lh-title center">
		<span class="f4"></span>Mood
	</p>

	
	<p class="b">Perfect for the new client who&rsquo;s just getting started</p>

	
	<ul>
		
		
		<li>
			<p class="pb2 mb2 divider-grey">8 sessions per month</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Nutrition coaching</p>
		</li>
		
		<li>
			<p class="">Precise measurement of progress</p>
		</li>
		
	</ul>

</div>
</div>
			
			<div class="w-33-ns ph2"><div class="ph2">

	
	<h3 class="b f5 grey-3 tc lh-title mb3">6-Month plan</h3>

	
	<p class="primary f1 b tc lh-title center">
		<span class="f4">$</span>2,700
	</p>

	
	<p class="b">Great for those who are committed and want to save</p>

	
	<ul>
		
		
		<li>
			<p class="pb2 mb2 divider-grey">8 sessions per month</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Nutrition coaching</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Precise measurement of progress</p>
		</li>
		
		<li>
			<p class="">Optional something</p>
		</li>
		
	</ul>

</div>
</div>
			
			<div class="w-33-ns ph2"><div class="ph2">

	
	<h3 class="b f5 grey-3 tc lh-title mb3">Annual</h3>

	
	<p class="primary f1 b tc lh-title center">
		<span class="f4">$</span>5,500
	</p>

	
	<p class="b">Offers the greatest savings, get 1 month free</p>

	
	<ul>
		
		
		<li>
			<p class="pb2 mb2 divider-grey">8 sessions per month</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Nutrition coaching</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Precise measurement of progress</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Optional item</p>
		</li>
		
		<li>
			<p class="">Optional item</p>
		</li>
		
	</ul>

</div>
</div>
			
		</div>

	</div>

</div>

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
<h2 class="f3 b lh-title mb2">Passport to Optimal Fitness</h2>
<p>Text</p>
<p>Text</p>
</div>
</div>
{{ end }}
