
{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description | markdownify }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" }}
<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">Passport to Optimal Fitness</h2>
		<p class="mw6">Improve your biology and quality of life with the Inner Strength Fitness program. We provide personal training via monthly plans. <a href="/contact/" target="blank" style="color: #f42">Contact us</a> to find a plan that works for you.</p>

<p>Strength training delivers many benefits for the mind, body, and emotions. Here are a few.</p><br/>

		<div class="flex-ns mhn2-ns mw7">
			
			<div class="w-33-ns ph2"><div class="ph2">

	
	<h3 class="b f5 grey-3 tc lh-title mb3">Physical Fitness</h3>

	
	<p class="primary f1 b tc lh-title">
		<span class="f4"></span>Body
	</p>

	
	<p class="b">Perform at your best.</p>

	
	<ul>
		
		
		<li>
			<p class="pb2 mb2 divider-grey">Increased strength</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Less abdominal fat</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Improved bone health</p>
		</li>
		<li>
			<p class="pb2 mb2 divider-grey">Better cardiovascular health</p>
		</li>
		<p class="pb2 mb2 divider-grey">Improved mobility and flexibility </p>
		</li>
				</li>
		<p class="pb2 mb2 divider-grey">Increased metabolism </p>
		</li>
		
	</ul>

</div>
</div>
			
			<div class="w-33-ns ph2"><div class="ph2">

	
	<h3 class="b f5 grey-3 tc lh-title mb3">Cognition & Mood</h3>

	
	<p class="primary f1 b tc lh-title center">
		<span class="f4"></span>Mind
	</p>

	
	<p class="b">Gain mental resilience.</p>

	
	<ul>
		
		
		<li>
			<p class="pb2 mb2 divider-grey">Improved mental outlook</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Decreased anxiety</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Improved body image</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Better concentration</p>
		</li>

		<li>
			<p class="pb2 mb2 divider-grey">Work at your peak</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Promotion of neurogenesis</p>
		</li>
	</ul>

</div>
</div>
			
			<div class="w-33-ns ph2"><div class="ph2">

	
	<h3 class="b f5 grey-3 tc lh-title mb3">Risk Factors</h3>

	
	<p class="primary f1 b tc lh-title center">
		<span class="f4"></span>Health
	</p>

	
				<p class="b">Cut your <a href="/post/weight-training-benefits/" style="color: #f42">disease risk</a>.</p>

	
	<ul>
		
		
		<li>
			<p class="pb2 mb2 divider-grey">Combat osteoporosis</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Decrease your risk of stroke</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Decrease your risk of cardiovascular problems</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Decrease your risk of cancer</p>
		</li>
		
		<li>
			<p class="pb2 mb2 divider-grey">Decrease and manage stress</p>
		</li>
		<li>
			<p class="pb2 mb2 divider-grey">Inhibiting of sarcopenia</p>
		</li>
		
	</ul>
</div>
</div>
	</div>

	</div>

</div>
<br/>

<div class="mw7 center">

		<h3 class="f2 b lh-title mb3">3 Manhattan Locations</h3>
		<p class="mw6">Our fitness centers are peaceful and private.
You may also opt for training at your personal residence. </p>
<ul>
<li>133 E. 58th Street, Suite 902, New York, New York 10022</li>
<li>532 Madison Avenue, New York, New York 10022</li>
<li>20 Pine Street, New York, New York 10022</li>
	</ul>
<br/>
</div>
<br/>
<div class="pb4">
  
    <div class="center mb3 ph3">
	<blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
		<p class="f4 mb0">"My overall improvement was dramatic."</p>
		<cite class="tr db grey-3">Peter R. Lasusa, Jr., Chairman, U.S. Squash </cite>
	</blockquote>
</div>
<div class="center mb3 ph3">
	<blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
		<p class="f4 mb0">"Excellent."</p>
		<cite class="tr db grey-3">John Gillis, John Gillis Architecture</cite>
	</blockquote>
</div>
    <div class="center mb3 ph3">
	<blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
		<p class="f4 mb0">"a huge positive impact"</p>
		<cite class="tr db grey-3">Gabi Powell</cite>
	</blockquote>
</div>
  
<br/>

{{ end }}
